Origin: XBian
Package: xbian-package-config-xbmc
Version: 1.0
Section: utils
Essential: No
Priority: optional
Codename: wheezy
Architecture: armhf
Depends: xbian-package-config-shell (>=2.0)
Installed-Size: 200
Maintainer: Belese <development@xbian.org>
Description: Configuration utility for XBian.
