Origin: XBian
Package: xbian-package-splash
Version: 1.0
Section: utility
Priority: optional
Codename: wheezy
Architecture: armhf
Depends: xbian-update (>=1.0-1)
Installed-Size: 900
Maintainer: Koenkk <development@xbian.org>
Description: Splash screen for XBian.
