Origin: XBian
Package: xbian-package-Maraschino
Version: 1.0
Section: net
Priority: optional
Codename: wheezy
Architecture: armhf
Installed-Size: 34164
Maintainer: 
Description:  Marschino compiled, patched and configured for XBian
